<form action="/auth/login" method="POST">
  <label for="authEmail">Email</label>
  <input id="authEmail" type="email" name="email">

  <label for="authPassword">Password</label>
  <input id="authPassword" type="password" name="password">

  <input type="submit">
</form>
