<div class="box box-login">
  <form action="/auth/login" method="POST">

    <div class="form-group">
      <!-- <label for="authEmail">Email</label> -->
      <input id="authEmail" class="form-control" type="email" placeholder="email" name="email">
    </div>

    <div class="form-group">
      <!-- <label for="authPassword">Password</label> -->
      <input id="authPassword" class="form-control" type="password" placeholder="password" name="password">
    </div>

    <div class="form-group">
      <a href="/auth/facebook" class="button info">
        <i class="fa fa-facebook-f fa-lg"></i> Facebook Login
      </a>
      <input class="button secondary btn-primary" type="submit">
    </div>

  </form>
</div>
