<form action="/auth/signup" method="POST">
  <label for="authEmail">Email</label>
  <input id="authEmail" type="email" name="email">

  <label for="authName">Name</label>
  <input id="authName" type="text" name="name">

  <label for="authPassword">Password</label>
  <input id="authPassword" type="password" name="password">

  <input type="submit">
</form>
