<% if (alerts.error) { %>
  <% alerts.error.forEach(function(msg) { %>
    <div class="alert alert-danger"><%= msg %></div>
  <% }); %>
<% } %>
<% if (alerts.success) { %>
  <% alerts.success.forEach(function(msg) { %>
    <div class="alert alert-success"><%= msg %></div>
  <% }); %>
<% } %>
