<div>
  <div class="top-bar">
    <div class="top-bar-left">
      <i class="fa fa-envira" aria-hidden="true"></i> squidl
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </div>
    <div class="top-bar-right">
      <ul class="vertical medium-horizontal menu">
        <li><i class="fa fa-users" aria-hidden="true"></i> 3 peers</li>
        <li><i class="fa fa-area-chart" aria-hidden="true"></i> 1.0 ratio</li>
        <li><i class="fa fa-chevron-circle-up" aria-hidden="true"></i> 1 Mb</li>
        <li><i class="fa fa-chevron-circle-down" aria-hidden="true"></i> 0 Kb</li>
        <li></li>
        <li><i class="fa fa-bars" aria-hidden="true"></i> Profile</li>
      </ul>
    </div>
  </div>
  <div class="row nav-decoration"></div>
</div>
