{
  "extends": "airbnb/legacy",

  "env": {
    "browser": true,
    "jquery": true,
    "node": true,
    "mocha": true
  },

  "globals": {},

  "rules": {
    "vars-on-top": 0,
    "no-unused-vars": 0,
    "func-names": 0,
    "space-before-function-paren": 0,
    "new-cap": 0,
    "no-param-reassign": 0
  }
}
