<div class="box after-box-downloading">
    <div class="row text-center">

      <div>
        <i class="loadAnim fa fa-circle-o-notch fa-spin fa-5x fa-fw hide" aria-hidden="true"></i>
        <button class="btn-dl" value="<%= magnet %>">Start</button>
        <a href="" class="ready-link hide">Download Ready</a>
      </div>
      <div>
        <h3>MyFile.mp4</h3>
      </div>
      <div class='dl-bar'></div>
      <div>
        <ul class="inline-list">
          <li>0kb Uploaded</li>
          <li>0kb Downloaded</li>
          <li>0kb Filesize</li>

        </ul>
      </div>

  </div>
</div>


<script src="js/download.js"></script>
<script src="js/page-download.js"></script>
