<!-- <a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
 -->

<div class="container">
  <div class="box">
    <div class="small-12 columns max-width">
      <div class="row icons top-space">
        <div class="small-3 columns fa fa-file-zip-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-word-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-pdf-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-code-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-video-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-audio-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-image-o fa-4x"></div>
        <div class="small-3 columns fa fa-file-text-o fa-4x"></div>
      </div>

      <div class="row text-left">
        <h1 class="font-a">INTRODUCING SQUIDL</h1>
        <h3 class="font-a subheader top-neg-space">A Tool For Getting Files from A to B</h3>
        <p class="text-left">Drag and Drop any file into this page to create a private link that you can share. All this without ever touching the cloud. Because Squidl is powered by Bittorrent, the more shares translates to faster and stronger sharing.<br><br>

          Sign-up for Stats & Admin Control.</p>
      </div>
    </div>
  </div>
  <div
</div>
