<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
  </head>
  <body>
    <p>
      <strong>User:</strong> <%- JSON.stringify(currentUser) %>
    </p>
    <h1>Authentication</h1>
    <%- body %>
  </body>
</html>
