<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- My Styles -->
    <link rel="stylesheet" href="../css/styles.css">
    <link href='https://fonts.googleapis.com/css?family=Oswald:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Sahitya' rel='stylesheet' type='text/css'>

    <!-- Scripts -->
      <!-- jQ -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
      <!-- Foundation Package -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.2.3/foundation.min.js"></script>
      <!-- Magic -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/webtorrent/0.95.2/webtorrent.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.12/clipboard.min.js"></script>
      <!-- Sause -->
    <script src="../js/global.js"></script>
    <script src="../js/upload.js"></script>
    <script src="../js/page-global.js"></script>
  </head>
  <body>
    <% include partials/navbar %>
    <div class="container">


      <% include partials/alerts %>
      <%- body %>
      <div class="box after-box-media hide"></div>

    </div>
  </body>
</html>
