/*---------------------------*/
/* Global (setting defaults) */
/*---------------------------*/

body {
  background-color: #ddd;
  font-family: 'Sahitya', serif;
  /*photoshop the image darker*/
  /*background: url('../img/cream_dust.png');*/
}

p {
  color: black;
}

li {
  padding-right: 10px;
}

.inline-list, .inline-list li {
  list-style: none;
  display: inline;
}

video {
  height: 100%;
  width: 100%;
}

form {
  width: inherit;
}

.alert-banner {
  color: white;
  margin: 0 40px;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
}

.alert-danger {
  background-color: #ff87c4;
}

.alert-success {
  background-color: #2199e8;
}

/*---------------------------*/
/* Customs (highly reusable) */
/*---------------------------*/

/*Not high enough specificity to work by itself. Try to rid of !important*/
.dragging {
  background-color: #244e82 !important;
  border-color: #ddd !important;
  color: #eee !important;
}

.box {
  width: 95vw;
  height: 88vh;
  min-height: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-height: 700px) {
  .box {
    height: 70vh;
  }
}

@media (max-width: 640px) {
  .box {
    width: 85vw;
    height: 60vh;
    min-height: 300px;
    padding: 0 20px;
  }
}

.margin-center {
  margin: 0 auto;
}

.font-a {
  font-family: 'Oswald', sans-serif;
}

.fa-4x {
  margin-bottom: 30px;
}

.top-neg-space {
  margin-top: -10px;
}

.extra-space {
  margin-top: 10px;
}

.max-width {
/*
  border: 1px solid purple; */
  max-width: 460px;
  margin: 0 auto;
}

.width25p {
  width: 25%;
}

.icons {
  min-width: 285px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.unstyled-link {
  color: inherit;
}

.p-excerpt {
  max-width: 560px;
}

.btn-100p {
  width: 100%;
}

.btn-50p {
  width: 49%;
}

.stats-box {
  padding: 20px 0;
  background-color: #ffffff;
  border-radius: 10px;
  border: 4px solid #333333;
}

.blue {
  color: #2199e8;
}

.button-margin {
  margin-top: 6px;
}
/*---------------------------*/
/* Specifics (iffy reusability)*/
/*---------------------------*/

/* Navbar */

.top-bar {
  background-color: #333;
  color: #ddd;
  font-family: 'Arial', serif;
}

.top-bar li a {
  display: inline;
}

.nav-decoration {
  height: 4px;
  background-color: #242424;
}

.progress-bar {
  width: 0px;
  height: inherit;
  background-color: #4cbb4c;
}

/* Main */

.container {
/*   border: 1px solid blue; */
  margin-top: 30px;
}

.before-box {
/*   background: url('http://imgs.abduzeedo.com/files/articles/logo-design-squids-octopuses/a3fc538f91278c6c2b3fdc20c1a3efd6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */
  border: 3px dashed #ccc;
  border-radius: 50px;
  background-color: #eee;
  color: #244e82;
}

.after-box-downloading {
  /*background-color: grey;*/
}

.after-box-media {
  margin-top: 100px;
  margin-bottom: 50px;
  /*background-color: grey;*/
  /*border: 1px solid red;*/
}

.after-box-uploading {
  border: 5px solid #4982c7;
  border-radius: 50px;
  background-color: #eee;
}

.box-login {
  width : 250px;
}

/* This shouldnt be needed. Its supposed to inherit */
/* This is a bugfix. */
.medium-horizontal.menu {
  background-color: inherit;
}

.share-link {
  display: inline-block;
  width: auto;
}

.share-link:hover {
  cursor: pointer;
}

.btn-copy {
  margin-top: 12px;
}

/*---------------------------*/
/* Foundation Override */
/*---------------------------*/

.menu.vertical>li {
  display: inline;
}

.top-bar .top-bar-left, .top-bar .top-bar-right {
  width: auto;
}

@media (max-width: 500px) {
  .menu.vertical>li {
    display: block;
  }
}


/*---------------------------*/
/* Debugging */
/*---------------------------*/

.columns {
/*   background-color: grey; */
/*   border: 1px solid red; */
}
