/*---------------------------*/
/* Global (setting defaults) */
/*---------------------------*/

body {
  background-color: #ddd;
  font-family: 'Sahitya', serif;
  /*photoshop the image darker*/
  /*background: url('../img/cream_dust.png');*/
}

p {
  color: black;
}

li {
  padding-right: 10px;
}

.inline-list, .inline-list li {
  list-style: none;
  display: inline;
}

video {
  height: 100%;
  width: 100%;
}

/*---------------------------*/
/* Customs (highly reusable) */
/*---------------------------*/

/*Not high enough specificity to work by itself. Try to rid of !important*/
.dragging {
  background-color: #244e82 !important;
  border-color: #ddd !important;
  color: #eee !important;
}

.box {
  width: 95vw;
  height: 88vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-center {
  margin: 0 auto;
}

.font-a {
  font-family: 'Oswald', sans-serif;
}

.fa-4x {
  margin-bottom: 30px;
}

.top-neg-space {
  margin-top: -10px;
}

.max-width {
/*
  border: 1px solid purple; */
  max-width: 460px;
  margin: 0 auto;
}

.icons {
  min-width: 285px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*---------------------------*/
/* Specifics (iffy reusability)*/
/*---------------------------*/

/* Navbar */

.top-bar {
  background-color: #333;
  color: #ddd;
  font-family: 'Arial', serif;
}

.top-bar li a {
  display: inline;
}

.nav-decoration {
  height: 4px;
  background-color: #242424;
}

.progress-bar {
  width: 0px;
  height: inherit;
  background-color: #4cbb4c;
}

/* Main */

.container {
/*   border: 1px solid blue; */
  margin-top: 30px;
}

.before-box {
/*   background: url('http://imgs.abduzeedo.com/files/articles/logo-design-squids-octopuses/a3fc538f91278c6c2b3fdc20c1a3efd6.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%; */
  border: 5px dashed #aaa;
  border-radius: 50px;
  background-color: #eee;
  color: #244e82;
}

.after-box-downloading {
  background-color: grey;
}

.after-box-media {
  background-color: grey;
  border: 1px solid red;
}

.after-box-upload {
  background-color: grey;
}

/* This shouldnt be needed. Its supposed to inherit */
/* This is a bugfix. */
.medium-horizontal.menu {
  background-color: inherit;
}

.dl-bar {
  width: 400px;
  height: 3px;
  background-color: darkgrey;
}



/*---------------------------*/
/* Debugging */
/*---------------------------*/

.columns {
/*   background-color: grey; */
/*   border: 1px solid red; */
}
